html, body {
  font-family: 'Vodafone', sans-serif;
  background-color: #333333;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Vodafone";
  src: url("../fonts/VodafoneLt.svg") format("svg"),
       url("../fonts/VodafoneLt.eot") format("opentype"),
       url("../fonts/VodafoneLt.ttf") format("truetype"),
       url("../fonts/VodafoneLt.woff") format("woff");
   font-style:normal;
   font-weight: 100;
   font-display: swap;
}

@font-face {
  font-family: "Vodafone";
  src: url("../fonts/VodafoneRg.svg") format("svg"),
       url("../fonts/VodafoneRg.eot") format("opentype"),
       url("../fonts/VodafoneRg.ttf") format("truetype"),
       url("../fonts/VodafoneRg.woff") format("woff");
   font-style:normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
  font-family: "Vodafone";
  src: url("../fonts/vodafonergbd.svg") format("svg"),
       url("../fonts/vodafonergbd.eot") format("opentype"),
       url("../fonts/vodafonergbd.ttf") format("truetype"),
       url("../fonts/vodafonergbd.woff") format("woff");
   font-style:normal;
   font-weight: 900;
   font-display: swap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------------------------------- */
/* ------------ COVER ------------- */
/* -------------------------------- */

.cover {
  width: 100%;
  min-height: 401px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.cover .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.cover .content {
  width: 100%;
  z-index: 1;
  position: relative;
  padding: 45px 0;
}

.cover .tidalLogo {
  width: 151.5px;
}

.cover .content h1 {
  font-size: 44px;
  margin-top: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

.cover .content h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 100;
}

.cover .content h3 {
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: 900;
}

.cover .content .btn {
  width: 89px;
  height: 45px;
  background-color: #e60000;
  margin: 0 auto;
}

.cover .content .btn a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
  font-weight: 400;
}

/* -------------------------------- */
/* ----------- BAR LIST ----------- */
/* -------------------------------- */

.barList {
  width: 100%;
  height: 60px;
  background-color: #666666;
}

.barList .chevron {
  color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 10px;
  position: relative;
  top: 2px;
  vertical-align: top;
  width: 10px;
  transform: rotate(45deg);
  margin-left: 10px;
  margin-right: 10px;
}

.barList ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0 20px;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 23px;
}

.barList ul li {
  display: inline-block;
}
/* -------------------------------- */
/* ----------- CAROUSEL ----------- */
/* -------------------------------- */

.carousel {
  background-color: #333333;
  text-align: center;
}

.carousel h2 {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
}

.carousel .content .module {
  min-height: 292px;
  width: calc(33% - 21px);
  border: solid 1px #999999;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.carousel .content .module img {
  width: 100%;
  height: 146px;
  object-fit: cover;
}

.carousel .content .module h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 8px;
}

.carousel .content .module p {
  font-size: 16px;
  color: #ffffff;
  margin: 0 15px;
  font-weight: 400;
}

.carousel .bullets {display: none;}

/* -------------------------------- */
/* ------------ EXTRAS ------------ */
/* -------------------------------- */

.extras {
  background-color: #333333;
  text-align: center;
  padding-bottom: 40px;
}

.extras h2 {
  font-size: 36px;
  color: #ffffff;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 100;
}

.extras .content ul {
  list-style-image: url('../images/tick.svg');
  width: calc(45% - 30px);
  color: #ffffff;
  margin: 0 15px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  vertical-align: top;
}

.extras .content ul li {
  padding-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: 400;
}

.extras .content ul li b { font-weight: 900;}
.ui-loader-default { display: none;}
