
@media (max-width: 1200px) {

  .container { margin: 0 20px;}

}

@media (max-width: 995px) {
  .carousel .content .module {
    width: calc(33% - 25px);
    height: 365px;
  }

  .carousel .content .module h3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .extras .content ul { width: 40%;}

}


@media (max-width: 768px) {

  .container { margin: 0 20px;}
  .carousel .container { margin: 0 0;}
  .cover .tidalLogo { width: 114px; height: auto;}
  .cover .content h1 { font-size: 36px;}
  .cover .content h2 { font-size: 26px;}
  .cover .content h3 { font-size: 26px;}

  .barList { display: none;}

  .carousel h2 { font-size: 30px;  margin: 0 76px;}
  .carousel .content { text-align: left; overflow-x: hidden;}
  .carousel .content .inner { overflow-x: hidden; position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; left: 0; width: 141%; transition: all 1s ease-in-out;}
  .carousel .content .module { height: auto; margin: 0 10px; display: inline-block; text-align: center; width: 100%;}
  .carousel .bullets { display: block; margin-top: 25px;}
  .carousel .bullets ul { margin-block-start: 0; margin-block-end: 0; padding-inline-start: 0; list-style-type: none; text-align: center;}
  .carousel .bullets ul .bullets-item { height: 8px; width: 8px; background-color: #afafaf; display: inline-block; z-index: 1; position: relative; border-radius: 10px; margin: 0 10px; vertical-align: middle;}
  .carousel .bullets ul .bullets-item.item-selected { background-color: inherit; border: 3px solid #ffffff;}

}


@media (max-width: 450px) {
  .container { max-width: 320px; margin: 0 auto; padding: 0 10px;}
  .carousel .container { margin: 0 auto; }

  .cover .tidalLogo { width: 98px;}
  .cover .content { width: auto; padding: 45px 15px;}
  .cover .content h1 { font-size: 30px;}
  .cover .content h2 { font-size: 20px;}
  .cover .content h3 { font-size: 20px;}
  .cover .content .btn { width: 100%; height: 34px;}
  .cover .content .btn a { margin-top: 6px;}

  .carousel h2 { font-size: 26px; margin: 0 15px; padding-top: 32px; padding-bottom: 26px;}
  .carousel .content .module h3 { font-size: 18px;}

  .extras h2 { font-size: 26px;}
  .extras .content ul { width: 80%; margin: 0;}
  .carousel .content .inner { width: 306%;}
}
